@model FormListViewModel
@{
    ViewData["Title"] = "Facebook Formları";
}

<div class="card-header text-center mb-3">
    <h1>Facebook Formları</h1>
</div>

<form asp-controller="Facebook" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="excelFile" name="excelFile" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="submit" class="btn btn-outline-primary" value="Yükle" />
        </div>
    </div>
</form>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Ad Soyad</th>
                <th>Email Adres</th>
                <th>Alan Kodu</th>
                <th>Telefon Numarası</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
            }

            @foreach (var studentCandidate in Model.FormDetails)
            {
                <tr>
                    <td>@count</td>
                    @{
                        count++;
                    }
                    <td>@studentCandidate.Fullname</td>
                    <td>@studentCandidate.Email</td>
                    <td>@studentCandidate.AreaCode</td>
                    <td>@studentCandidate.PhoneNumber</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><a asp-controller="Facebook" asp-action="Send" class="btn btn-outline-success">Gönder</a></td>
                <td><a asp-controller="Facebook" asp-action="Index" class="btn btn-outline-danger">Temizle</a></td>
            </tr>
        </tfoot>
    </table>
</div>